.menuItem {
  padding: 5px;
  text-align: left;
}

.menuItem.highlighted {
  background: #eee;
}

.ui.primary.btn.send-btn {
  display: block;
}

.ui.input > div {
  display: block !important;

  input {
    width: 100%;
  }
}

.ui.button.send-btn {
  margin-top: 10px;
}

.message {
  text-align: left;
}
