@import 'base';
@import '~normalize.css/normalize';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img.inverted {
  filter: invert(100%);
}

.loading-icon {
  color: #999;
  margin-left: calc(50vw - 0.5em) !important;
  margin-top: calc(50vh - 0.5em) !important;

}
